<!DOCTYPE html>
<html>
<head>
  <title>City Park Consulting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rationale">
	<script type="text/javascript"  src='http://cdn.renderedfont.com/js/renderedfont-0.8.min.js#free'></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33982691-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body>
<header>
		<div id="ribbon"></div>
		<div class="navbar navbar-fixed-top" style="height:90px">
			<div class="container" id="logo">
				<div class="row">
					<div class="span2">
						<div class="branch">
							<a href="#">City Park Consulting</a>
							<i class="icon-map-marker icon-white"></i>
						</div>
					</div>
				<div class="span7">
				    <blockquote>
						<h3>Tweets <small>@cityparktweets: <%= latest_tweet %></small></h3>
					</blockquote>
				</div>
				<div class="span3" >
					<form class="form-inline" action="/sendtext" method="POST">
						<div class="form-text">Get a quote:</div>
						<input type="text" name="mytext" class="input-small" placeholder="Your Phone #" >
						<button type="submit" class="btn">Send</button>
					</form>
				</div>
				</div>
			</div>

			
		</div>
	

<%= yield %>


	<div id="about" class="container">
		<div class="row">
			<div class="span2">
				<div id="logo">
					<div class="branch">
						<a href="#">City Park Consulting</a>
						<i class="icon-map-marker icon-white"></i>
					</div>
					<p>You're in the right place</p>
				</div>
			</div>
			
			<div class="span7">
				<h3>Contact</h3>
				<p><ul class="unstyled">
					<li>Email: david@cityparkconsulting.com</li>
					<li>Phone: (303) 547-6117</li>
					<li>City Park Consulting | 576 City Park Ave | Columbus, OH | 43215</li>
				</ul></p>
			</div>
			<div class="span3" style="margin-top:8px;">
				<a href="#" rel="tooltip" title="ShareThis" class="hover"><img src="demo_images/sharethis.png" alt=""></a>
				<a href="#" rel="tooltip" title="skype"><img src="demo_images/skype.png" alt=""></a>
				<a href="aim:GoIm?screenname=david.b.west@gmail.com" rel="tooltip" title="aim"><img src="demo_images/aim.png" alt=""></a>
				<a href="http://github.com/dbwest" target="_blank" rel="tooltip" title="github"><img src="demo_images/github.png" alt=""></a><br>
				<a href="http://www.facebook.com/CityParkConsulting" target="_blank" rel="tooltip" title="facebook"><img src="demo_images/facebook.png" alt=""></a>
				<a href="http://www.twitter.com/cityparktweets" target="_blank" rel="tooltip" title="twitter"><img src="demo_images/twitter.png" alt=""></a>
				<a href="#" rel="tooltip" title="paypal"><img src="demo_images/paypal.png" alt=""></a>
				<a href="http://www.linkedin.com/profile/view?id=2416813&trk=tab_pro" target="_blank" rel="tooltip" title="linkedin"><img src="demo_images/linkedin.png" alt=""></a>
			</div>
			
		</div>
	</div>
	<div id="footer" class="container">
		<div class="row">
			<div class="span12">
				<p>2012 © City Park Consulting | All Rights Reserved</p>
			</div>
		</div>
	</div>

	<!-- Styles for the skin that only load for Internet Explorer -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="js/slidedeck/slidedeck.skin.ie.css" media="screen,handheld" />
	<![endif]-->
	<!-- Include the SlideDeck jQuery script. -->
</body>
</html>
