<!DOCTYPE html>
<html>
<head>
  <title>City Park Consulting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rationale">
	<script type="text/javascript"  src='http://cdn.renderedfont.com/js/renderedfont-0.8.min.js#free'></script>
</head>
<body>
<header>
		<div id="ribbon"></div>
		<div class="navbar navbar-fixed-top">
			<div class="container" id="logo">
				<div class="row">
					<div class="span4">
						<div class="branch">
							<a href="index.html">City Park Consulting</a>
							<i class="icon-map-marker icon-white"></i>

						</div>
						<p>We'll make your next killer app</p>
					</div>
					<div class="row">
				<div>
				    <blockquote>
						<h3>Tweets <small>@dbwest: <%= Twitter::user_timeline("dbwest").first.text %></small></h3>
					</blockquote>
				</div>
			</div>
				</div>
			</div>

			
		</div>
	

<%= yield %>


	<div id="about" class="container">
		<div class="row">
			<div class="span2">
				<div id="logo">
					<div class="branch">
						<a href="index.html">City Park Consulting</a>
						<i class="icon-map-marker icon-white"></i>
					</div>
					<p>You're in the right place</p>
				</div>
			</div>
			<div class="span7">
				<h3>Contact</h3>
				<p><ul>
					<li>Email: david.b.west@gmail.com</li>
					<li>Phone: (303) 547-6117</li>
					<li>Address: 576 City Park Ave | Columbus, OH | 43215</li>
				</ul></p>
			</div>
			
		</div>
	</div>
	<div id="footer" class="container">
		<div class="row">
			<div class="span12">
				<p>2012 © City Park Consulting | All Rights Reserved</p>
			</div>
		</div>
	</div>

	<!-- Styles for the skin that only load for Internet Explorer -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="js/slidedeck/slidedeck.skin.ie.css" media="screen,handheld" />
	<![endif]-->
	<!-- Include the SlideDeck jQuery script. -->

</body>
</html>
