<!DOCTYPE html>
<html>
<head>
  <title>City Park Consulting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rationale">
	<script type="text/javascript"  src='http://cdn.renderedfont.com/js/renderedfont-0.8.min.js#free'></script>
</head>
<body>
<header>
		<div id="ribbon"></div>
		<div class="navbar navbar-fixed-top" style="height:90px">
			<div class="container" id="logo">
				<div class="row">
					<div class="span2">
						<div class="branch">
							<a href="#">City Park Consulting</a>
							<i class="icon-map-marker icon-white"></i>
						</div>
					</div>
				<div class="span7">
				    <blockquote>
						<h3>Tweets <small>@cityparktweets: <%= latest_tweet %></small></h3>
					</blockquote>
				</div>
				<div class="span3" >
					<form class="form-inline" action="/sendtext" method="POST">
						<div class="form-text">Get a quote:</div>
						<input type="text" name="mytext" class="input-small" placeholder="Your Phone #" >
						<button type="submit" class="btn">Send</button>
					</form>
				</div>
				</div>
			</div>

			
		</div>
	

<%= yield %>


	<div id="about" class="container">
		<div class="row">
			<div class="span2">
				<div id="logo">
					<div class="branch">
						<a href="index.html">City Park Consulting</a>
						<i class="icon-map-marker icon-white"></i>
					</div>
					<p>You're in the right place</p>
				</div>
			</div>
			<div class="span7">
				<h3>Contact</h3>
				<p><ul class="unstyled">
					<li>Email: david@citypark.com</li>
					<li>Phone: (303) 547-6117</li>
					<li>City Park Consulting | 576 City Park Ave | Columbus, OH | 43215</li>
				</ul></p>
			</div>
			
		</div>
	</div>
	<div id="footer" class="container">
		<div class="row">
			<div class="span12">
				<p>2012 © City Park Consulting | All Rights Reserved</p>
			</div>
		</div>
	</div>

	<!-- Styles for the skin that only load for Internet Explorer -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="js/slidedeck/slidedeck.skin.ie.css" media="screen,handheld" />
	<![endif]-->
	<!-- Include the SlideDeck jQuery script. -->

</body>
</html>
