
	<script>
	    $('#about a').click(function (e) {
		    e.preventDefault();
		    $(this).tab('show');
	    })
	    $('#credo a').click(function (e) {
		    e.preventDefault();
		    $(this).tab('show');
	    })
	    $('#work a').click(function (e) {
		    e.preventDefault();
		    $(this).tab('show');
	    })
	    $('#deployment a').click(function (e) {
		    e.preventDefault();
		    $(this).tab('show');
	    })
	</script>

	<% if browser.firefox? %>
		<div class="container">
			<ul class="nav nav-tabs">
				<li><a href="#about" data-toggle="tab">About Us</a></li>
				<li><a href="#credo" data-toggle="tab">Our Credo</a></li>
				<li><a href="#work" data-toggle="tab">What We Do</a></li>
				<li><a href="#deployment" data-toggle="tab">Hosting and Deployment</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="about"><%= render 'about' %></div>
				<div class="tab-pane" id="credo">...</div>
				<div class="tab-pane" id="work">...</div>
				<div class="tab-pane" id="deployment">...</div>
			</div>
		</div>
	<% else %>
		<div class="body hidden-phone">
			<div class="container">
				<div class="row" id="carousel">
					<div class="span12">
						<div id="slidedeck_frame" class="skin-slidedeck">
							<dl class="slidedeck" style="height: 380px">
								<dt>About Us</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img class="slide-photo" src="demo_images/kako-stone.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<%= render 'about' %>
											</div>
										</div>
									</div>
								</dd>
								<dt>Our Credo</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img class="slide-photo" src="demo_images/kako-rock.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<%= render 'credo' %>
											</div>
										</div>
									</div>
								</dd>
								<dt>What We Do</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img class="slide-photo" src="demo_images/kako-wall.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<%= render 'work' %>
											</div>
										</div>
									</div>
								</dd>
								<dt>Hosting and Deployment</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img class="slide-photo" src="demo_images/kako-stairs.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<%= render 'deployment' %>
											</div>
										</div>
									</div>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
	    </div>
	<% end %>
	<!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<!--Slide Deck-->
	<!-- Styles for the skin that only load for Internet Explorer -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="js/slidedeck/slidedeck.skin.ie.css" media="screen,handheld" />
	<![endif]-->
	<!-- Include the SlideDeck jQuery script. -->
	<script type="text/javascript">
	$(function(){
		$('.slidedeck').slidedeck({
			autoPlay: false,
			cycle: true,
			autoPlayInterval: 0
		});
	});
	</script>
	<!--End Slide Deck-->

	<script type="text/javascript">
            $(function() {
				/**
				* Initial Carousel
				**/
				$('.carousel').carousel({
					interval: 4000
				});
            });
	</script>